body {
    background-image: url("../images/background.jpeg"); 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
}

#mainSection {
    background-color: rgba(255, 255, 255, 0.767);
    border: 10px solid white;
    display: block;
    margin: auto;
}

.answerChoice {
    background-color: #26515f;
    width: 250px;
    line-height: 65px;
    margin: 10px;
    color: #edeff9;
    text-shadow: 1px 1px #2d3033;
    font-weight: bold;
    border: 5px dotted #19284a;
    box-shadow: 5px 5px #f9d964;
}

.answerChoice:hover {
    opacity: .7;
}

.container {
    margin-top: 5%;

}

#start {
    width: 200px;
    line-height: 40px;
    font-size: 30px;
    background-color: orange;
    color: white;
    text-shadow: 2px 2px dimgrey;
    box-shadow: 3px 3px lightblue;
    display: block;
    margin: auto;
    margin-top: 30px;
}

#nextQ {
    margin: 20px;
    background-color: #d08585;
    line-height: 45px;
    width: 149px;
    color: #27040ac7;
    font-weight: bold;
    border: 3px solid #5a0f0fab;
}

#timer {
    background-color: rgba(255, 0, 0, 0.541);
    margin: 5px;
    font-weight: 500;
}

#gifImage {
    padding: 20px;
}
